<!DOCTYPE html>
<html>
    <head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/render.js"></script>
    <script type="text/javascript" src="/static/js/about.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/about.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
    </head>
    <body>
    <header id="about"></header>
    <div class="main">
        <strong>Who are you?</strong><br/>
        I'm Capella, a singlet with plural friends. I enjoy web design and putting large amounts of time into figuring out how to do small helpful things. You know how it is.
        <br/><br/>
        <strong>Description / Why did you choose this project?</strong><br/>
        This is a tool for people with dissociative disorders, especially DID and OSDD, to communicate with and keep track of other parts of their head that may not always be possible or easy in the way it is for many other folks! I chose this project because I have close friends with OSDD and other disorders which affect their ability to remember or keep track of thoughts.
        <br /><br/>
        <strong>What technology was used?</strong><br/>
        Most of this site's functionality is made of conversations between JQuery-Ajax and Flask. The server runs on Python code with Flask and an SQLAlchemy database. The client uses the standard HTML/CSS/JS with JQuery flavoring and many Ajax calls which are sent back to Flask routes.
        <br/><br/>
        <strong>What have you learned in this class?</strong><br/>
        I learned about a lot of great web programming methods I've never used before, a few of which I've used in this project - particularly JQuery and Ajax. These provide a really nice way to add code to webpages without the painful mess of raw Javascript, and allowing page updates and server calls without the need to wait for a refresh.
    </div>
    <footer></footer>
    </body>
</html>