<!DOCTYPE html>
<html>
    <head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/render.js"></script>
    <script type="text/javascript" src="/static/js/checklist.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/checklist.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
    </head>
    <body>
    <header id="checklist"></header>
    <div class="main">
        
    </div>
    <footer></footer>
    </body>
</html>