<!DOCTYPE html>
<html>
    <head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/render.js"></script>
    <script type="text/javascript" src="/static/js/checklist.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/checklist.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
    </head>
    <body>
    <header id="checklist"></header>
    <div class="main">
         <ul>
             <li><strong>Homepage:</strong> The initial page you come to (the signup or login pages) gives an introduction/summary of the site.</li>
             <li><strong>Database:</strong> stores users for login, stores system & alter names, name colors, post date/times, etc.</li>
             <li><strong>Ajax Usage:</strong> every button click on this website sends an Ajax POST request to update the database & retrieve new information if necessary, followed by a live jQuery update to the page. I also used Ajax to call the same header & footer files and apply them to every page.</li>
             <li><strong>Theme:</strong> In addition to the Ajax-rendered header & footer menus, I've created a global CSS file which every page pulls from, as well as their individual CSS files as needed.</li>
             <li><strong>New Library Usage:</strong> Flask, SQLAlchemy, and JSColor (the hex color picker on the homepage)</li>
             <li><strong>Javascript:</strong> jQuery is used to update pages after Ajax calls. There is also a JS confirmation alert when you try to delete an alter profile, and if you remove every alter, you'll get an alert about that when trying to post a message.</li>
             <li><strong>Membership Area:</strong> The "Home" and "Profile" links are not shown & cannot be accessed until you login  (you'll be redirected to the login page). You can login with the demo account or make your own to gain access.</li>
             <li><strong>General User:</strong> You can use the demo account credentials specified in the assignment specs.</li>
         </ul>
    </div>
    <footer></footer>
    </body>
</html>