<!DOCTYPE html>
<html>
    <head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/render.js"></script>
    <script type="text/javascript" src="/static/js/desc.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/desc.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
    </head>
    <body>
    <header id="desc"></header>
    <div class="main">
        <strong>Users</strong><br/>
        My intended userbase is plural people (those with DID and OSDD) though it is also open to anyone with memory or dissociative problems.
        <br/><br/>
        <strong>What they get out of it</strong><br/>
        This site is a place to put messages and reminders to others who share your mind but not necessarily all of your thoughts.
        <br/><br/>
        <strong>Problem to solve</strong><br/>
        It's very common for people with dissociative disorders to deal with memory issues. This is meant to be a place for reminders and communication, with a little bit of personalization and fun included in the mix.
        <br/><br/>
        <strong>Once you've used this site</strong><br/>
        I hope you'll look into other useful resources for plural folks on the internet, such as Discord's Pluralkit or Tupperbox, and do what you can to personalize the spaces that you're in. Find folks who will accept you for the people you are and not be bogged down by the shitty stigma popular media likes to give plural people -- they're out there! If nothing else, I hope this site communicates that.
    </div>
    <footer></footer>
    </body>
</html>