<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/render.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/index.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
</head>
<body>
    <header></header>
    Welcome, {{ sysname }}!
    <div class="main">
        <form id="newMessage">
            <select id="poster" required>
                {% for alter in alter_list %}
                <option value="{{alter.alter}}">{{alter.alter}}</option>
                {% endfor %}
            </select><br/>
            <input type="text" id="newMessage" height="100" width="200" placeholder="Enter a message...!"/><br/>
            <input type="button" value="Post Message" onclick="postMessage()">
        </form>
        <div id="messages">
        {% for message in message_list %}
            From {{message["alter"]}} at {{message["message"].datetime}}:
            {{message["message"].message}}
            <form id="{{message['message'].id}}">
                <input type="hidden" value="{{message['message'].id}}" name="message">
                <input type="button" value="Archive Message" class="archiveMessage">
            </form>
        {% endfor %}
    </div>
    </div>
    <a href="/logout">Log Out</a>
    <footer></footer>
</body>
</html>