<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/render.js"></script>
    <script type="text/javascript" src="/static/js/signup.js"></script>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/signup.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
    </head>
    <body>
        <header></header>
        <div class="main">
        <form method="POST" action="/signup-post">
            <input type="text" name="username" placeholder="Username"/><br/>
            <input type="password" name="password" placeholder="Password"/><br/>
            <input type="text" name="system" placeholder="System Name"/><br/>
            <input type="submit" value="Sign Up">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="loglink"><a href="/login">Log In</a></div>
    </div>
    <footer></footer>
    </body>
</html>