<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/render.js"></script>
    <script type="text/javascript" src="/static/js/signup.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/signup.css" type="text/css" />
    <link rel="shortcut icon" href="#">
    <title>Systerly!</title>
    </head>
    <body>
        <header id="signup"></header>
        <div class="main">
            <p style="max-width: 400px">Welcome to Systerly! This is your tool for sending messages or creating reminders for other members of your system when you might not be around to tell them yourself. Be sure to keep your login information somewhere safe but memorable!</p>
        <form method="POST" action="/signup-post">
            <input type="text" class="logtext" name="username" placeholder="Username"/><br/>
            <input type="password" class="logtext" name="password" placeholder="Password"/><br/>
            <input type="text" class="logtext" name="system" placeholder="System Name"/><br/>
            <input type="submit" class="btn" value="Sign Up">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <footer></footer>
    </body>
</html>